@use "vars.scss" as var;


.about {
    background: var.$about-bg;
    padding: 0;
}

.about-inner {
    display: flex;
    flex-direction: column;

    @media (min-width: var.$bp-tablet) {
        flex-direction: row;
        align-items: stretch;
    }
}

.about-photo {
    background-color: var.$DarkChoc;

    @media (min-width: var.$bp-tablet) {
        flex: 0 0 30%;
    }

    img {
        width: 100%;
        height: auto;
    }
}

.about-copy {
    padding: var.$unit-lg;

    @media (min-width: var.$bp-tablet) {
        padding: var.$unit-xl var.$unit-lg var.$unit-lg;
    }

    @media (min-width: var.$bp-desktop) {
        padding: var.$unit-xl;
    }

    @media (min-width: var.$bp-xxl) {
        padding: var.$unit-xxl var.$unit-xl var.$unit-xxl 240px;
    }

    p {
        max-width: 920px;

    }
}