@use "vars.scss" as var;

@use "sass:color";

.art-panel,
.illust-panel {
    margin-top: var.$unit-lg;
    padding-top: var.$unit-md;

    @media (min-width: var.$bp-tablet) {
        margin-top: var.$unit-xl;
        padding-top: var.$unit-lg;
    }

    @media (min-width: var.$bp-desktop) {
        margin-top: var.$unit-xxl;
        padding-top: var.$unit-xl;
    }

}


.article-panel {
    width: 100%;
    margin: auto;
    @media (min-width: var.$bp-tablet) {
        width: 500px;
    }

    @media (min-width: var.$bp-desktop) {
        width: 970px;
    }
}

.art-panel h2,
.illust-panel h2 {
    font-size: 2.5rem;
    line-height: 3rem;
    text-align: center;
    margin: 0 0 var.$unit-lg 0;
}

.art-panel p,
.illust-panel p {
    font-size: 1rem;
    line-height: 1.3rem;
    font-weight: 400;
    margin: var.$unit-md 0;

    @media (min-width: var.$bp-tablet) {
        margin: var.$unit-lg 0;
    }
}



.art-panel a,
.illust-panel a {
    color: #aaa;
}

.art-panel a:hover,
.illust-panel a:hover {
    color: #f8f8f8;
}

.art-panel,
.illust-panel {
    background-color: var.$grey5;

    color: var.$body-text-col;

    h2 {
        font-weight: 300;
        color: var.$darkGrey;
    }

    h3 {
        color: var.$darkGrey;
    }

    background: linear-gradient(180deg,
        var.$panelGradient-start 30%,
        var.$panelGradient-end 85%,
        var.$pageBgColor 100%);

    @media (min-width: 1400px) {
        background: linear-gradient(90deg, var.$pageBgColor 3%, transparent 20%, transparent 80%, var.$pageBgColor 97%),
            linear-gradient(180deg,
                var.$panelGradient-start 30%,
                var.$panelGradient-end 85%,
                var.$pageBgColor 100%)
    }

    @media (min-width: 2400px) {
        background: linear-gradient(90deg, var.$pageBgColor 10%, transparent 30%, transparent 70%, var.$pageBgColor 90%),
            linear-gradient(180deg,
                var.$panelGradient-start 30%,
                var.$panelGradient-end 85%,
                var.$pageBgColor 100%)
    }
}


.section-divide {
    margin: 50px 0 80px 20%;
    // height: 3px;
    // background: rgb(226, 243, 247);
    // background: linear-gradient(
    //   90deg,
    //   rgba(226, 243, 247, 0) 2%,
    //   rgba(89, 102, 106, 1) 50%,
    //   rgba(226, 243, 247, 0) 98%
    // );
    clear: both;
    width: 60%;
    position: relative;
}