@use "vars.scss" as var;
@use "fonts.scss" as font;

@use "sass:color";

.art-section {
    margin-top: var.$unit-lg;

    @media (min-width: var.$bp-tablet) {
        margin-top: var.$unit-xl;
    }

    @media (min-width: var.$bp-desktop) {
        margin-top: var.$unit-xxl;
    }

    &:first-of-type {
        margin-top: 0;

        .art-panel {
            background-image: url("images/art-panel-bg-san-paper.jpg");
        }
    }
    &--buy-art h2 {
        margin-top: var.$unit-lg;
        @media (min-width: var.$bp-desktop) {
            margin-top: var.$unit-xl;
        }
    }
}

.art-panel,
.illust-panel {
    padding-top: var.$unit-xl;

    @media (min-width: var.$bp-tablet) {
        padding-top: 240px;
    }

    @media (min-width: var.$bp-xxl) {
        padding-top: 300px;
    }

}


.article-panel {
    width: 100%;
    margin: auto;
    padding-left: var.$page-pad-sm;
    padding-right: var.$page-pad-sm;

    @media (min-width: var.$bp-tablet) {
        padding-left: var.$page-pad-md;
        padding-right: var.$page-pad-md;
    }

    @media (min-width: var.$bp-desktop) {
        width: 970px;
    }
}

.art-panel,
.illust-panel {
    background-image: url("images/art-panel-bg.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 180%;
    color: var.$body-text-col;

    @media (min-width: var.$bp-tablet) {
        background-size: 120%;
    }

    h2 {
        color: var.$darkGrey;
    }

    h3 {
        color: var.$darkGrey;
    }
}

.close-up-panel {
    margin-top: var.$unit-lg;

    @media (min-width: var.$bp-tablet) {
        margin-top: var.$unit-xl;
    }
}

.art-panel--heading {
    text-align: center;
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
}

.heading-ship-name {
    display: block;
}

.art-panel-aside {
    display: grid;
    grid-template-columns: 1fr;
    gap: var.$unit-sm;
    // align-items: center;
    margin: var.$unit-md auto var.$unit-lg auto;
    transition: width var.$ani-md ease-in-out;

    p,
    a:not(.forSaleLink) {
        // art details under the artwork image
        font-size: 1rem;
        line-height: 1.3rem;
        font-weight: 400;
        margin: 0;
    }

    a {
        // for sale link to redbubble
        font-weight: font.$font-md;
    }

    .art-panel:has(.large)+.article-panel & {
        width: 100%;
        padding-left: 0;
    }

    @media (min-width: var.$bp-tablet) {
        padding: 0 var.$unit-md ;
        width: 550px;
    }

    @media (min-width: var.$bp-desktop) {
        width: 640px;
    }

    @media (min-width: var.$bp-xl) {
        width: 720px;
    }

    @media (min-width: var.$bp-xxl) {
        width: 820px;
    }
}

.aside-forSale {
    padding-bottom: var.$unit-sm;
    display: flex;
    justify-content: space-between;
    gap: var.$unit-rg;

    @media (min-width: var.$bp-sm) {
        justify-content: flex-start;
    }
}

.read-more-detail {
    display: none;

    &.open {
        display: block;
    }
}