@use "vars.scss" as var;
@use "fonts.scss" as font;


a.forSaleLink {
    display: inline-block;
    text-decoration: none;
    font-weight: font.$font-md;
    padding: 8px 12px;
    border: 1px solid var.$forSale-border;
    background-color: var.$forSale-bg;
    color: var.$forSale-text;
    margin: var.$unit-sm 0 0 var.$unit-md;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;

    &:hover {
        cursor: pointer;
        background-color: var.$forSale-hover;
        color: var.$white;
    }
}

.forSale-btn {
    padding: var.$unit-xs var.$unit-rg;
    border: 1px solid var.$forSale-border;
    border-radius: var.$border-radius-sm;
    color: var.$forSale-text;
    background-color: var.$forSale-bg;
    // margin: var.$unit-sm 0 0 var.$unit-md;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;

    &:hover {
        cursor: pointer;
        background-color: var.$forSale-hover;
        color: var.$forSale-text;
    }
}