@use "vars.scss" as var;
@use "fonts.scss" as font;
@use "sass:color";

.galleries {
    background: var.$galleries-bg;
    position: relative;
    // padding: 48px 0 56px;
}

.galleries-inner {
    display: flex;
    flex-direction: column;
    margin-top: var.$unit-rg;

    @media (min-width: var.$bp-desktop) {
        align-items: flex-start;
        margin-top: var.$unit-lg;
    }

    @media (min-width: var.$bp-xl) {
        align-items: flex-start;
        margin-top: var.$unit-xl;
    }

    @media (min-width: var.$bp-xxl) {
        align-items: flex-start;
        margin-top: var.$unit-xl;
    }
}

.galleries-heading-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: var.$unit-xl;

    img {
        display: none;

        @media (min-width: var.$bp-tablet) {
            max-width: 220px;
            display: block;
        }

        @media (min-width: var.$bp-desktop) {

            max-width: 420px;
        }
    }
}

.galleries-heading {
    color: var.$white;
    font-size: 4rem;
    line-height: 4.5rem;
    pointer-events: none;
    letter-spacing: 0.4rem;
    margin: var.$unit-lg var.$unit-rg ;

    @media (min-width: var.$bp-tablet) {
        margin: var.$unit-lg 0 var.$unit-lg var.$page-pad-sm;
    }

    @media (min-width: var.$bp-desktop) {
        font-size: 8rem;
        letter-spacing: 1.2rem;

        margin: var.$unit-xxl 0 var.$unit-xxl var.$page-pad-md;
    }

    @media (min-width: var.$bp-xxl) {
        margin: var.$unit-xxl 0 var.$unit-xxl var.$page-pad-lg;
    }
}


.gallery-grid {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;

    @media (min-width: var.$bp-tablet) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: var.$bp-desktop) {
        grid-template-columns: repeat(4, 1fr);
    }
}

.gallery-card {
    display: block;
    padding: var.$unit-lg var.$page-pad-sm 0 var.$page-pad-sm;
    transition: background-color var.$ani-sm ease-in-out;
    text-decoration: none; // remove underline from gallery label nested in <a> tag

    &:first-child {
        background-color: var.$gallery-card-1;

        &:hover {
            background-color: color.scale(var.$gallery-card-1, $lightness: -10%);
        }
    }

    &:nth-child(2) {
        background-color: var.$gallery-card-2;

        &:hover {
            background-color: color.scale(var.$gallery-card-2, $lightness: -10%);
        }
    }

    &:nth-child(3) {
        background-color: var.$gallery-card-3;

        &:hover {
            background-color: color.scale(var.$gallery-card-3, $lightness: -10%);
        }
    }

    &:last-child {
        background-color: var.$gallery-card-4;
        padding-bottom: var.$unit-lg;

        @media (min-width: var.$bp-tablet) {
            padding-bottom: 0;
        }

        &:hover {
            background-color: color.scale(var.$gallery-card-4, $lightness: -10%);
        }
    }

    @media (min-width: var.$bp-tablet) {
        padding: var.$unit-lg 0 var.$unit-xs 0;

        +.gallery-card {
            border-left: 1px solid var.$col-grey-50;
        }
    }

    @media (min-width: var.$bp-desktop) {
        padding: var.$unit-lg 0 220px 0;

        +.gallery-card {
            border-left: 1px solid var.$col-grey-50;
        }
    }

    .gallery-label {
        margin: 0 0 var.$unit-md 0;
        font-size: 2rem;
        font-weight: 300;
        color: var.$gallery-label;

        @media (min-width: var.$bp-tablet) {
            text-align: center;
            margin: 0 0 var.$unit-lg 0;
            font-size: 3rem;

        }

    }

    &:hover {
        .gallery-card-img:before {
            opacity: 0;
        }
    }
}

.gallery-card-img {
    display: block;
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    position: relative;

    &::before {
        display: none;
        content: '';
        position: absolute;
        inset: 0;
        background-size: cover;
        background-position: center;
        opacity: 1;
        transition: opacity var.$ani-sm ease;

        @media (min-width: var.$bp-tablet) {
            display: block;
        }
    }

    @media (min-width: var.$bp-desktop) {
        height: 500px;
    }
}

.gallery-card-img--sea {
    background-image: url("images/galleries/gallery-imgs-sea-hover.jpg");

    &:before {
        background-image: url("images/galleries/gallery-imgs-sea.jpg");
    }
}

.gallery-card-img--navy {
    background-image: url("images/galleries/gallery-imgs-navy-hover.jpg");

    &:before {
        background-image: url("images/galleries/gallery-imgs-navy.jpg");
    }
}

.gallery-card-img--land {
    background-image: url("images/galleries/gallery-imgs-land-hover.jpg");

    &:before {
        background-image: url("images/galleries/gallery-imgs-land.jpg");
    }
}

.gallery-card-img--illust {
    background-image: url("images/galleries/gallery-imgs-illust-hover.jpg");

    &:before {
        background-image: url("images/galleries/gallery-imgs-illust.jpg");
    }
}