@use "vars.scss" as var;
@use "fonts.scss" as font;

 
body {
  font-family: font.$font-family-base;
  font-weight: font.$font-light;
    color: var.$body-text-col;
}


h1 {
    font-size: var.$font-size-h1;
    line-height: var.$line-height-h1;
    text-align: left;
    letter-spacing: 0.55rem;
    margin: 0 0 30px 0;
}

@media (min-width: 600px) {
    h1 {
        font-size: 5.5rem;
        line-height: 4rem;
        margin: 20px 0 40px 0;
    }
}






h2 {
    font-size: var.$font-size-h2;
    line-height: var.$line-height-h2;
    font-weight: 300;
    margin: 0 0 var.$unit-lg 0;


    +p {
        margin-top: var.$unit-lg;

        @media screen and (min-width: var.$bp-desktop) {
            margin-top: var.$unit-xl;

        }
    }
}

h3 {
    font-size: 1.8rem;
    margin-top: var.$unit-lg;
    font-weight: 300;
    line-height: 2.5rem;

    @media screen and (min-width: var.$bp-desktop) {
        margin-top: var.$unit-xl;

    }
}

p {
    margin: 0 0 var.$unit-lg;
}


h2,
h3,
p {
    orphans: 3;
    widows: 3;
}

h2,
h3 {
    page-break-after: avoid;
}



a,
li,
p,
figcaption,
button {
    font-size: var.$font-size-body;
    line-height: var.$line-height-body;
}
p {
    max-width: var.$text-max-width
}

button  {
    font-weight: font.$font-md;
}

h2.standardHeading {
    font-weight: font.$font-light;
    margin: 2rem 0 1rem 0;
    color: rgba(var.$darkGrey, 0.72);

    @media (min-width: 600px) {
        margin: 4rem 0 2rem 0;
    }
}


a {
    color: var.$link;
    text-decoration-color: var.$link-underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
}

a:active,
a:hover {
    outline: 0;
}



a:focus,
a:hover {
    color: var.$link-hover;
    text-decoration-color: var.$link-underline-hover;
}

a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.ship-name {
    font-style: italic;
}

.heading-ship-name {
    display: block;
    font-size: clamp(1.75rem, 1.4807rem + 1.1492vw, 2.4rem);
    margin-top: var.$unit-sm;
}

.buyPrints-link {
    border-left: none;
}

// sold circle
span.sold {
    display: inline-block;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: var.$sold;
    margin-right: var.$unit-sm;
    vertical-align: text-bottom;
}

.text-semibold {
    font-weight: font.$font-md;
}

.align-center {
    text-align: center;
}