@use "sass:color";

// ── Palette ──────────────────────────────────────────────

$white: #fff;

$grey5: #acb9bf;
$col-grey-10: #e0e0e0;
$col-warm-grey-20: #B2ABA8;
$col-grey-50: #7B8589;
$col-grey-55: #757575;
$col-grey-blue: #ACB9BF;
$grey6: #7b8589;
$darkGrey: #393e40;
$DarkChoc: #20130C;

$col-azure: #19BBFB;

$hero-bg: $DarkChoc;

$nav-bg: #342A26;
$nav-text-mob: $white;
$nav-text: $col-grey-10;
$nav-hover: #d8d2c8;
$nav-active-bg: #0090C9;
$nav-active-text: #ffffff;
$navButtonMob: #494240;
$nav-height: 48px; // it's just from dev tools, not set for the nav.

$body-text-col: #222;

$pageBgColor: #efeeed;
$panelGradient-start: $grey5;
$panelGradient-end: rgb(226, 234, 238);


$accent-green: #01ae23;
$accent-green-hover: #00730c;
$fb-blue: #1877f2;
$fb-blue-hover: #034cac;

$link: #1b67a9;
$link-underline: #5da4e1;
$link-underline-hover: $link;
$link-hover: #0e3b62;

$forSale-text: #fff;
$forSale-bg: $accent-green;
$forSale-hover: $accent-green-hover;
$forSale-border: #005b00;
$sold: #ff0000;


$galleries-bg: $col-grey-blue;
$gallery-label: #2c3236;
$gallery-card-1: #A4B2B8;
$gallery-card-2: #9CAAB1;
$gallery-card-3: #92A2A9;
$gallery-card-4: #8A9BA2;

$about-bg: #f5f4f1;
$about-text: #2a2a2a;



// ── Type ─────────────────────────────────────────────────
$body-font: 'Open Sans', Helvetica, Arial, sans-serif;
$font-size-base: 1rem;

// Headings

$font-size-h1: clamp(3.2738rem, 2.3514rem + 3.9358vw, 5.5rem);
$line-height-h1: clamp(3.9286rem, 2.8434rem + 4.6303vw, 6.5476rem);

$font-size-h2: clamp(2.5rem, 1.7956rem + 3.0055vw, 4.2rem);
$line-height-h2: clamp(3rem, 2.1713rem + 3.5359vw, 5rem);


// Body text
$font-size-body: clamp(1.125rem, 1.0833rem + 0.208vw, 1.25rem);
$line-height-body: clamp(1.65rem, 1.575rem + 0.375vw, 1.875rem);
$text-max-width: 970px;



$nav-txt-size: 1rem; // 18px
$nav-txt-size-mob: 1.375rem; // 22px
$nav-txt-weight-mob: 300;
$nav-txt-weight: 600;
$nav-txt-spacing-mob: 0.2rem;
$nav-txt-spacing: 0.15rem;

// ── Breakpoints ──────────────────────────────────────────
$min-vw: 375px; // for clamps
$bp-sm: 580px;
$bp-tablet: 780px;
$bp-nav: 940px; // illustration label is cut off below this point
$bp-desktop: 1100px;
$bp-xl: 1400px;
$bp-xxl: 2000px;

$index-hero-shift: $bp-desktop;

// ── Units ─────────────────────────────────────────────────

$unit-xs: 4px;
$unit-sm: 8px;
$unit-rg: 16px;
$unit-md: 24px;
$unit-lg: 48px;
$unit-xl: 96px;
$unit-xxl: 144px;

$page-pad-sm: $unit-md;
$page-pad-md: $unit-lg;
$page-pad-lg: $unit-xl;

// ── Timing ─────────────────────────────────────────────────

$ani-sm: 0.42s;
$ani-md: 1s;

// ── Radius ─────────────────────────────────────────────────

$border-radius-xs: 3px;
$border-radius-sm: 5px;
$border-radius-md: 9px;
$border-radius-lg: 15px;